<!-- Footer-->
<footer class="mt-4">
    <div class="footer-wrapper container pt-5 pb-2">
        <div class="row footer-info-container">
            <div class="col-3">
                <div class="footer-info__header">
                    <h4 class="footer-info__heading">
                        WANT MORE
                    </h4>
                </div>
                <div class="footer-info__list-container">
                    <ul class="footer-info__list">
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">Connect</a> 
                        </li>
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">Partners</a> 
                        </li>
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">Subscribe</a> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="footer-info__header">
                    <h4 class="footer-info__heading">
                        RESOURCES
                    </h4>
                </div>
                <div class="footer-info__list-container">
                    <ul class="footer-info__list">
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">Editorial Guidelines</a> 
                        </li>
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">Security Group</a> 
                        </li>
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">Market Research</a> 
                        </li>
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">Custom Content &</a> 
                        </li>
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">Marketing Services</a> 
                        </li>
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">Survey And Sample</a> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="footer-info__header">
                    <h4 class="footer-info__heading">
                        PRIVACY
                    </h4>
                </div>
                <div class="footer-info__list-container">
                    <ul class="footer-info__list">
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">Privacy Policy</a> 
                        </li>
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">Terms & Conditions</a> 
                        </li>
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">Persional</a> 
                        </li>
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">Information</a> 
                        </li>
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">Privacy Request</a> 
                        </li>
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">Accessibility</a> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <div class="footer-info__header">
                    <h4 class="footer-info__heading">
                        ACCOUNT
                    </h4>
                </div>
                <div class="footer-info__list-container">
                    <ul class="footer-info__list">
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">My Account</a> 
                        </li>
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">My Renewals</a> 
                        </li>
                        <li class="footer-info-item">
                            <a href="" class="footer-info-item-link">Create account</a> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-brand-and-contact-container mt-5 d-flex align-items-center justify-content-lg-between">
            <div class="footer-brand-container">
                <p class="footer-brand">Web Pentest</p>
            </div>
            <div class="footer-contact-container d-flex align-items-center">
                <p class="footer-contact-info">
                    <a href="" class="footer-contact-info-link">For Professionals</a> 
                </p>
                <p class="footer-contact-info">
                    <a href="" class="footer-contact-info-link">Carrers</a> 
                </p>
                <p class="footer-contact-info">
                    <a href="" class="footer-contact-info-link">Contact us</a>
                </p>
                <p class="footer-contact-info">
                    <a href="" class="footer-contact-info-link">Company Info</a> 
                </p>
                <p class="footer-contact-info">
                    <a href="" class="footer-contact-info-link">Voluntary Recall</a> 
                </p>
                <div class="contact-social-media d-flex align-items-center">
                    <div class="social-media-icon">
                        <a href="" class="social-media-icon-link">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="social-media-icon">
                        <a href="" class="social-media-icon-link">
                            <i class="fab fa-instagram"></i>
                        </a>                                
                    </div>
                    <div class="social-media-icon">
                        <a href="" class="social-media-icon-link">
                            <i class="fab fa-twitter"></i>
                        </a>                                
                    </div>
                    <div class="social-media-icon">
                        <a href="" class="social-media-icon-link">
                            <i class="fab fa-linkedin-in"></i>
                        </a>                                
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-wrapper mt-5">
            <div class="footer-copyright-container d-flex justify-content-center align-items-center">
                <p class="footer-copyright">
                    <a href="" class="footer-copyright-link">
                        Conditions of Use
                    </a> 
                </p>
                <p class="footer-copyright">
                    <a href="" class="footer-copyright-link">
                        Privacy Notice
                    </a>
                </p>
                <p class="footer-copyright">
                    <a href="" class="footer-copyright-link">
                        Interest-Based Ads
                    </a>
                </p>
                <p class="footer-copyright footer-copyright--blur">
                    &copy;1995-2020 Web Pentest stores all rights
                </p>
            </div>
        </div>
    </div>
</footer>