# MongoDB connection string
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority

# VirusTotal API key
API_KEY=

# Express session secret
SESSION_SECRET=changeme

# Length of generated encryption password (number)
PASSWORD_GENERATE_LENGTH=20

# Server port (default: 3001)
PORT=3001
