<%- contentFor('body') %>
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Our project and team</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/about/1.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>06-09-2021</h4>
                        <h4 class="subheading">Our Project Beginnings</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">
                        Our team met and dicussed about the project. Team had 4 member and decided to make security project. We designed UI and database (MongoDB) 
                    </p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/about/2.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>10-2021</h4>
                        <h4 class="subheading">Setting and research information</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">
                        We setuped project and decided to use NodeJS and express framework for this project. We researched some information about pentest and encrypt/decrypt knowledge. After that, we started coding.
                    </p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/about/3.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>11-2021</h4>
                        <h4 class="subheading">Keep doing and disscus</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">
                        At this time, we haved done UI (front-end) for some pages and some service in backend. We integrated Virustotal third party API, ZAP terminal and render reports UI. Updated process to github.
                    </p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/about/4.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>01-2022</h4>
                        <h4 class="subheading">Fix bugs and done project</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">
                        Some bugs happended when we integrated with Virustotal API, ZAP terminal and we had to fixed this as soon as possible and render to UI reports. We have done project and pushed to github. Writing report then.
                    </p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Security
                        <br />
                        project is
                        <br />
                        completed!!!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="page-section bg-light py-5 mt-5" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Newbie members in web and security</h3>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="/img/team/image_aboutUs2.jpg" alt="..." />
                    <h4>Đoàn Văn Đắc</h4>
                    <p class="text-muted">Project Manager</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="/img/team/image_aboutUs2.jpg" alt="..." />
                    <h4>Nguyễn Quang Trường</h4>
                    <p class="text-muted">Security Researcher</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="/img/team/image_aboutUs2.jpg" alt="..." />
                    <h4>Lê Tuấn Anh</h4>
                    <p class="text-muted">Pentester</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="/img/team/image_aboutUs2.jpg" alt="..." />
                    <h4>Nguyễn Quang Huy</h4>
                    <p class="text-muted">Web Newbie</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">
                    Team ATTT2018 UIT
                </p>
            </div>
        </div>
    </div>
</section>